*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.slots, .slots1, .slots2, .slots3, .slots4, .slots5, .slots6, .slots7 , .slots8 , .slots9 {
   border: 2px solid;
   height: 30px;
   width: 30px;
   background-color: antiquewhite;
}


.slots10,.slots11, .slots12, .slots13, .slots14 {
   border: 1px solid;
   height: 50px;
   width: 50px;
   background-color: aquamarine;
}
.slotssection{
    display: flex;
    margin-top: 50px;
    margin-left: 120px;
}

.dashsection{
    border: 1px solid;
    height: 300px;
    width: 500px;
    margin-top: 70px;
    margin-left: 50px;
    background-color: rgb(121, 134, 130);
}

.timeinx{
    display: flex;
}

.inputform{
    margin-left: 40px;
    margin-top: 30px;
}

button{
    margin-top: 20px;
}